@charset "UTF-8";
a{
	text-decoration: none;
	color: white; 
}
li{
	list-style: none;
	background: skyblue;
	width: 120px;
	height: 80px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin: 5px;
}
li:hover{
	list-style: none;
	background: #00e3e3;
	width: 120px;
	height: 80px;
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	margin: 5px;
}
#total{
	width: 1200px;
	height: 800px;
}
#top{
	background: yellow;
	width: 100px;
	height: 800px;
	position: fixed;
}
#left{
	background: pink;
	width: 200px;
	height: 800px;
	float: left;
}
#right{
	background: skyblue;
	width: 1000px;
	height: 800px;
	float: right;
	font-size: 20px;
}



