@charset "UTF-8";

/* a태그의 밑줄,색 바꾸기 */
a{
	text-decoration: none;
	color: black;
}
a:hover{ /* 마우스 a태그에 올렸을 때 스타일 지정*/
	text-decoration: overline;
	color: red;
}

#total{
	width: 800px;
	height: 800px;
	background: lime;
}

#top{ /* 상단메뉴바 */
	width: 800px;
	height: 100px;
	background: aqua;
}

#top2{ /* 장바구니 */
	width: 300px;
	height: 100px;
	background: #004040;
	color: white;
	position: fixed; /*스크롤 상관없이 고정*/
	top: 5px; /* 상단 기준점에서 밑으로 5정도 떨어져라*/
	right: 5px;
	border-radius: 100px 0 100px 0;
	text-align: center;
}

#center{
	width: 800px;
	height: 500px;
	background: url('../img/cat.png') /* 이미지넣기. '..'는 현재 폴더 밖으로 나가는 것 */
}

li{
	list-style: none;
	float: left; /* 왼쪽을 기준으로 →방향으로 목록들이 붙음 */
	font-size: 25px;
	background: orange;
	padding: 10px; /* 목록값 위아래사이 여백주기 */
	margin: 5px; /* li 사이에 거리주기 */
}
/* 'li:': li중에서도 */
li:nth-child(2n+1){ /* ':': li중에서도. 홀수 */
	background: yellow;
}

li:hover { /* 마우스 올렸을 때 효과*/
	list-style: none;
	float: left;
	font-size: 25px;
	background: pink;
	padding: 10px; 
	margin: 5px;
	border-radius: 10px;
}